/* تنسيق عام */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
}

/* تنسيق العناوين */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    color: #333;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

/* تنسيق الفواصل */

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

/* تنسيق القوائم */

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

/* تنسيق الروابط */

a {
    text-decoration: none;
    color: #337ab7;
}

a:hover {
    color: #23527c;
}

/* تنسيق الأزرار */

button {
    background-color: #337ab7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #23527c;
}

/* تنسيق القسم */

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-top: 0;
}

/* تنسيق الصور */

img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* تنسيق القائمة التنقل */

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #333;
    text-decoration: none;
}

nav a:hover {
    color: #337ab7;
}

/* تنسيق القائمة التنقل في الهاتف */

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav li {
        margin-bottom: 10px;
    }
}